/**Limpando o fluxo da aplicação */
* {
    padding: 0px;
    margin: 0px;
}

/**Configuração do tamanho do Slick */
.box {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #363949;
    padding: 25px 0px;
    font-weight: bolder;
    border-radius: 15px; 
}

/**Configuração do tamanho do titulo do slick */
#headerTitle  {
    color: aliceblue;
    font-size: 30px;
}

/**Configuração do corpo do slick */
#main {
    color: aliceblue;
    font-size: 20px;
    margin: 0px 10px;
    padding: 15px;
    text-align: justify;
}

/**Configuração do rodapé do slick */
#footerLink a {
    text-transform: uppercase;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 8px;
    color: #191a21;
    text-decoration: none;
    font-size: 30px;
}

/**RESPOSIVIDADE DA TAG ModelProjects */

/**Resposividade para tablet */
@media(max-width: 952px) {
    /**Configuração do tamanho do Slick */
    .box {
        height: 280px;
    }

    /**Configuração do tamanho do titulo */
    #headerTitle  {
        font-size: 28px;
    }

    /**Configuração do corpo do slick */
    #main {
        font-size: 18px;
    }

    /**Configuração do rodapé do slick */
    #footerLink a {
        font-size: 18px;
    }
}

/**Resposividade para móvel */
@media(max-width: 858px) {
    /**Configuração do tamanho do Slick */
    .box {
        height: 250px;
    }

    /**Configuração do tamanho do titulo */
    #headerTitle  {
        font-size: 25px;
    }

    /**Configuração do corpo do slick */
    #main {
        font-size: 14px;
    }

    /**Configuração do rodapé do slick */
    #footerLink a {
        font-size: 15px;
    }
}