/**Limpando o fluxo padrão da aplicação */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/**Configuração padrão do container container-navbar */
#container-navbar {
    background-color: #191a21;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**Configuração padrão da logo */
#logo{
    display: flex;
    justify-items: center;
    align-items: center;
}

#logo label{
    color: #FFF;
    font-size: 25px;
    font-weight: bolder;
}

#logo img{
    width: 80px;
    height: 80px;
}

.dev {
    color: blueviolet;
}

/**Configuração de estilo do menu */
ul {
    list-style: none; 
    display: inline-block;
}

/**Configurações no distanciamento dos links do menu */
ul li {
    display: inline-block;
    margin: 25px;
}

/**Configurações dos links do menu */
ul li a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
}

/**Estilo na ação do mouseover */
nav ul li a:hover {
    color: aqua;
    transition: .5s;
}

/**Configuração do botão do menu */
#check-btn {
    float: right;
    display: none;
}

/**Configuração do menu */
.btn-menu {
    font-size: 30px;
    color: #FFF;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


/**RESPOSIVIDADE DA APLICAÇÃO MENU*/

/**Resposividade para tablet */
@media(max-width: 952px) {
     /**Setando o tamanho da fonte da logo */
    #logo label{
        font-size: 20px;
    }

    /**Removendo espaçamento entre os itens do menu*/
    ul li {
        margin-right: 9px;
    }
}

/**Resposividade para movel */
@media(max-width: 858px) { 

    /**Espaçamento entre o icone de menu e a logo */
    #container-navbar {
        justify-content: space-between;
    }

    /**Setando o tamanho da fonte da logo */
    #logo label{
        font-size: 23px;
    }

    /**Espaçamento entre o icone de menu e borda */
    .control-menu {
        margin-right: 20px;
    }

    /**Centralizando o icone de menu no centro do elemento */
    .control-menu nav label {
        margin: 0 auto;
    }

    /**Espaçamento entre o logo e a borda */
    #logo{
        margin-left: 20px;
    }

    /**Centralizando a logo no centro do elemento */
    #logo label{
        margin: 0 auto;
    }

    /**Mostrando o icone do menu */
    .btn-menu {
		display: block;
    }
    
    /**Posicionamento do menu */
	ul{
        position: fixed; 
        top: 100px;
        left: -100%;
		width: 100%;
		height: 100vh;
		background-color: #191a21;
		text-align: center;
		transition: all .5s;
    }
    
    /**Setando o posicionamento do menu e distanciamento */
	nav ul li{
		display: block;
		margin: 50px auto;
    }
    
    /**Setando o tamanho da fonte do menu */
	nav ul li a {
		font-size: 20px;
	}

    /**Mostrando o menu lateral */
	#check-btn:checked ~ ul {
        left: 0;
    }
}