/**Limpando o fluxo da aplicação */
* {
    padding: 0px;
    margin: 0px;
}

/**Posicionamento do icone de whatsApp */
.whatsApp {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

/**Tamanho do icone de whatsApp */
.whatsApp img {
    height: 60px;
    width: 60px;
}

/**RESPOSIVIDADE DA APLICAÇÃO MENU*/

/**Resposividade para móvel */
@media(max-width: 858px) {
    /**Posicionamento do icone de whatsApp */
    .whatsApp {
        bottom: 50px;
        right: 14px;
    }

    /**Tamanho do icone de whatsApp */
    .whatsApp img {
        height: 50px;
        width: 50px;
    }
 }