<footer class="footer-container">
  <div class="footer-top-line"></div>
  <div class="footer-content">
    <div class="footer-left">
      <p>
        © {{ year }}
        <a href="https://rafaelmarcelo08.netlify.app/" target="_blank"> site</a>
        Todos os direitos reservados
      </p>
    </div>
    <div class="footer-right">
      <span>
        <fa-icon [icon]="faCode"></fa-icon> Criado por
        <strong>Rocket<span class="dev">Dev</span></strong></span
      >
    </div>
  </div>
</footer>
