<header [class.sticky]="isSticky">
  <span class="logo">
    <fa-icon [icon]="faCode"></fa-icon>
    <a routerLink="/">RocketDev</a>
    <fa-icon [icon]="faCode"></fa-icon>
  </span>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/news">Sobre mim</a></li>
      <li><a routerLink="/leagues">Habilidades</a></li>
      <li><a routerLink="/team">Trabalhos</a></li>
      <li><a routerLink="/about">Projetos</a></li>
      <li><a routerLink="/about">Contatos</a></li>
    </ul>
  </nav>
</header>

<section class="banner"></section>
