header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.7s;
  padding: 37px 20px;
  z-index: 1000;
}

header.sticky {
  padding: 7px 20px;
  background: #1a1a2e;
  border-bottom: solid #50fa7b 1px;
}

header .logo {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.7s;
}

header .logo a,
header .logo fa-icon {
  font-size: 0.7em;
  font-weight: 700;
}

fa-icon {
  color: #50fa7b;
  text-decoration: none;
}

.logo .dev {
  color: #7f2cf1;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  list-style: none;
  transition: 0.7s;
}

header nav ul li {
  position: relative;
}

header nav ul li a {
  color: white;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s;
}

header nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #50fa7b;
  transition: width 0.3s ease-in-out;
}

header nav ul li a:hover::after {
  width: 100%;
}

/* Botão faBars - Padrão visível em telas menores */
.menu-toggle {
  display: block;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

nav {
  display: none;
}

nav.open {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #1a1a2e;
  padding: 20px 0;
}

nav ul {
  flex-direction: column;
}

/* md (mínimo de 768px) */
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  nav {
    display: flex;
    position: static;
    width: auto;
    padding: 0;
  }

  nav ul {
    flex-direction: row;
  }
}

/* lg (mínimo de 1024px) */
@media (min-width: 1024px) {
  header .logo a,
  header .logo fa-icon {
    font-size: 1.8em;
  }
}

/* xl (mínimo de 1280px) */
@media (min-width: 1280px) {
  header .logo a,
  header .logo fa-icon {
    font-size: 2em;
  }
}

@media (min-width: 1536px) {
  header .logo a,
  header .logo fa-icon {
    font-size: 2.2em;
  }
}
