header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.7s;
  padding: 37px 20px; /* Ajuste no padding inicial para responsividade */
  z-index: 1000;
}

header.sticky {
  padding: 7px 20px;
  background: #1a1a2e;
  border-bottom: solid #50fa7b 1px;
}

header .logo {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.7s;
}

header .logo a,
header .logo fa-icon {
  font-size: 0.7em;
  font-weight: 700;
}

fa-icon {
  color: #50fa7b;
  text-decoration: none;
}

.logo .dev {
  color: #7f2cf1;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  color: white;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 700;
  transition: 0.7s;
  text-decoration: none;
}

// .menu-toggle {
//   display: block;
// }

header nav ul li a:hover {
  color: #999;
}

header.sticky .logo,
header.sticky ul li a {
  color: white;
}

/* Responsividade usando breakpoints do Tailwind */

/* sm (mínimo de 640px) */
@media (min-width: 640px) {
  header .logo a,
  header .logo fa-icon {
    font-size: 0.8em;
  }
}

/* md (mínimo de 768px) */
@media (min-width: 768px) {
  header .logo a,
  header .logo fa-icon {
    font-size: 0.9em;
  }
}

/* lg (mínimo de 1024px) */
@media (min-width: 1024px) {
  header .logo a,
  header .logo fa-icon {
    font-size: 1.8em;
  }
}

/* xl (mínimo de 1280px) */
@media (min-width: 1280px) {
  header .logo a,
  header .logo fa-icon {
    font-size: 2em;
  }
}

/* 2xl (mínimo de 1536px) */
@media (min-width: 1536px) {
  header .logo a,
  header .logo fa-icon {
    font-size: 2.2em;
  }
}
