<header [class.sticky]="isSticky">
  <span class="logo">
    <fa-icon [icon]="faCode"></fa-icon>
    <a routerLink="/">Rocket<span class="dev">Dev</span></a>
    <fa-icon [icon]="faCode"></fa-icon>
  </span>
  <button class="menu-toggle" (click)="toggleMenu()">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
  <nav [class.open]="menuOpen">
    <ul>
      <li><a routerLink="/">Perfil</a></li>
      <li><a routerLink="/news">Sobre mim</a></li>
      <li><a routerLink="/leagues">Habilidades</a></li>
      <li><a routerLink="/team">Trabalhos</a></li>
      <li><a routerLink="/about">Projetos</a></li>
      <li><a routerLink="/about">Contatos</a></li>
    </ul>
  </nav>
</header>
