/* Estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.7s;
  padding: 37px 20px; /* Ajuste no padding inicial para responsividade */
  z-index: 1000;
}

header.sticky {
  padding: 7px 20px;
  background: #6272a4;
}

header .logo {
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.7s;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  color: white;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 700;
  transition: 0.7s;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #999;
}

header.sticky .logo,
header.sticky ul li a {
  color: black;
}

/* Responsividade usando breakpoints do Tailwind */

/* sm (mínimo de 640px) */
@media (min-width: 640px) {
  header {
    padding: 37px 50px;
  }
  header .logo {
    font-size: 1.8em;
  }
}

/* md (mínimo de 768px) */
@media (min-width: 768px) {
  header {
    padding: 37px 80px;
  }
  header .logo {
    font-size: 2em;
  }
}

/* lg (mínimo de 1024px) */
@media (min-width: 1024px) {
  header {
    padding: 37px 100px;
  }
  header nav ul li a {
    font-size: 18px;
  }
}

/* xl (mínimo de 1280px) */
@media (min-width: 1280px) {
  header {
    padding: 37px 120px;
  }
  header .logo {
    font-size: 1.5em;
  }
  header nav ul li a {
    font-size: 20px;
  }
}

/* 2xl (mínimo de 1536px) */
@media (min-width: 1536px) {
  header {
    padding: 37px 140px;
  }
  header .logo {
    font-size: 2.5em;
  }
  header nav ul li a {
    font-size: 22px;
  }
}
