<div class="container">
  <div class="name teste">
    <p>
      <!-- <ngx-typed-writer
        [strings]="[
          'Criado da rocketDev',
          'Desenvolvedor Full Stack',
          'Analista de Sistemas',
          'Apaixonado por tecnologia'
        ]"
        [cursorChar]="'.'"
        [showCursor]="true"
        [backSpeed]="30"
        [typeSpeed]="100"
        [backDelay]="3000"
      >
      </ngx-typed-writer> -->
    </p>
  </div>
  <div class="photo teste">
    <span>my photo</span>
  </div>
</div>
