<div class="container">
  <div class="photo">
    <img
      src="assets/image/rafael.png"
      alt="Foto de Perfil"
      class="profile-photo"
    />
  </div>
  <div class="name">
    <p class="title shake">
      <ngx-typed2
        [strings]="[
          'Desenvolvedor Full Stack',
          'Especialista em Angular e NestJS',
          'Proficiente em Tailwind CSS e PostgreSQL',
          'Entusiasta de tecnologia e inovação',
          'Amante de desafios e aprendizado contínuo',
          'Focado em entregar soluções de qualidade',
          'Aspirante a se destacar no front-end',
          'Sempre buscando melhorar o UX/UI'
        ]"
        [typeSpeed]="60"
        [backSpeed]="30"
        [loop]="true"
        [showCursor]="true"
        cursorChar="●"
      ></ngx-typed2>
    </p>
    <div class="social-buttons">
      <a
        href="https://github.com/rafaelmarcelo08"
        target="_blank"
        class="social-btn github"
      >
        <fa-icon [icon]="faGithub"></fa-icon> GitHub
      </a>
      <a
        href="https://www.linkedin.com/in/rafaelmarcelo08/"
        target="_blank"
        class="social-btn linkedin"
      >
        <fa-icon [icon]="faLinkedin"></fa-icon> LinkedIn
      </a>
      <a href="assets/curriculo.pdf" target="_blank" class="social-btn resume">
        <fa-icon [icon]="faFile"></fa-icon> Currículo
      </a>
    </div>
  </div>
</div>
