/**Limpando o fluxo da aplicação */
* {
    padding: 0px;
    margin: 0px;
}

/**Configuração padrão do container Projects */
#containerProjects {
    background-color: #191a21;
    color: aliceblue;
    height: 100%;
    width: 100%;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/**Configuração padrão do titulo */
.titleProjects {
    font-family: 'Parisienne', cursive;
    font-size: 50px;
    font-weight: bolder;
    padding: 30px;
}

/**Configuração caixa de projetos */
.boxProjects {
    margin: 20px;
    width: 850px;
    height: 350px;
}

/**Configuração do titulo da caixa de projetos */
.boxTitle {
    color: aliceblue;
    font-weight: bolder;
    font-size: 25px;
    margin: 10px;
}

/**Configuração de alteração da cor dos dots */
.slick-dots li.slick-active button:before {
    color:aliceblue !important;
}

/**RESPOSIVIDADE DA TAG PROJECTS */

/**Resposividade para tablet */
@media(max-width: 952px) {
    /**Configuração padrão do titulo */
    .titleProjects {  
        font-size: 40px;
    }

    /**Configuração caixa de projetos */
    .boxProjects {
        width: 600px;
        height: 280px;
    }

    /**Configuração do tamanho do Slick */
    .box {
        height: 280px;
    }
}

/**Resposividade para móvel */
@media(max-width: 858px) {
   /**Configuração padrão do titulo */
    .titleProjects {  
        font-size: 35px;
    }

    /**Configuração caixa de projetos */
    .boxProjects {
        width: 250px;
        height: 250px;
    }

    /**Configuração do tamanho do Slick */
    .box {
        height: 250px;
    }
}