<div class="about-me-container" data-aos="fade-down-right">
  <h2>Sobre mim</h2>
  <div class="separator"></div>
  <p>
    Olá, meu nome é <strong>Rafael Marcelo Borges Nunes</strong>. Moro em
    <strong>Goiânia, Goiás</strong>, e sou formado em
    <strong>Análise e Desenvolvimento de Sistemas</strong>. Sou um
    <strong>Desenvolvedor Full Stack</strong> com mais de três anos de
    experiência em tecnologias como
    <strong>Java, Spring Boot, Angular, Tailwind CSS, PostgreSQL</strong> e
    <strong>NestJS</strong>. Apaixonado por tecnologia, busco constantemente
    expandir meus conhecimentos, incluindo o aprendizado de
    <strong>Inglês</strong>, e superar desafios em cada projeto.
  </p>

  <p>
    Valorizo soluções intuitivas e escaláveis, sempre focando na experiência do
    usuário e na qualidade dos resultados. Nos momentos livres, gosto de estudar
    ciência e astronomia, explorar novas ferramentas e desenvolver projetos
    pessoais que aprimorem minhas habilidades profissionais e criativas.
  </p>
</div>
